<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <div id="main">
        <div class="todoHeading">
            <h1>TODO APP</h1>
        </div>
        <!-- form for taking input of description , category, duedate and creating a add button-->
        <div class="formDiv">
            <form action="/details" method="POST">

                <div id="descDic"> 
                    <label for="desc" class="entryHeading" style="margin-left: 5%;">DESCRIPTION</label><br>
                    <textarea type = "text" name="description" id="desc" cols="75%" rows="5%" placeholder="what do you need to do?"></textarea>
                </div>
                <div class="task-container">
                    <div id="task-category">

                         <label for="category" class="entryHeading">CATEGORY</label><br>
                        <select  type = "text" name="category" id="category" >
                            <option value="">Choose a category</option>
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="Routine">Daily</option>
                            <option value="School">School</option>
                            <option value="Other">Other</option>

                        </select>
                    </div>
                    <div class="task-priority">
                        <label for="priority" class="priority-select">Set-Priority</label>
                        <br>
                        <select type="text" name="priority-type" id="priority-id">
                             <option value="high">High</option>
                             <option value="moderate">Moderate</option>
                             <option value="less">Less</option>

                        </select>
                    </div>
                    <div id="task-date">
                        <label for="duedate" class="entryHeading">Finish By</label><br>
                        <input type="date" name="duedate" id="duedate" value="NO DEADLINE">
                    </div>
                </div>

                    <button id="adding" class="common-buttons"><i class="far fa-plus"></i>&nbsp;ADD TASK</button>
                    
            </form>
        </div>
    
</body>
</html>